
@import url('C:\Users\rahur\Desktop\HTML-CSS-proyects-main\HTML-CSS-proyects-main\4.blogdecafe_BRYAN\css\fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: rgb(0, 0, 0);
    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/*h1{
    text-align-last: center;
    font-family: var(--Lexend);
    font-size: 2.5rem;
    transform-style: var(--Josefin);
}*/
h1 {
   
    font-family: 'Exo';
    text-align: center;
    font-size: 9em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    cursor: pointer;
}
h1::after {
    content: '';
    
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: radial-gradient(#ffffff 3%, #ffffff 15%, rgba(0, 0, 0, 0.3) 60%, transparent 80%), radial-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%, radial-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
}

h1 span:first-child {
    display: block;
    
    text-shadow: 0 0 0.1em #fffdfd, 0 0 0.2em #ffffff, 0 0 5em #ffffff;
    -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0);
}
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  font-weight: bold;
  color: #a79a2d;
}

.superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }



button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 6vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-light);
    letter-spacing: 0.25rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */



/* -------x------- navbar ---------x------- */


/* ----------------- Main Content----------- */

.section {
   
    padding: auto;
    box-sizing: border-box;
  }
  
  
  
  .title h2 {
     
    text-align: center;
    font-family: 'Exo';
    text-transform: uppercase;
  }
  .title span {
      padding-top:1rem ;
      font-family: 'Exo';
    color: var(--clr-secondary);
  }
.class-title{
    padding-top:1rem;
    
    color:#fa0303;
}
/* --------------- Site title ---------------- */


main .site-title{
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 2 rem;
}

main .site-title .site-background{
    padding-top: 2rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: 3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */

/* --------------- Blog Carousel ------------ */

main .blog{
   
    
    background-repeat: no-repeat;
    height:auto;
    width: 100%;
    background-size: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 3rem;
   
    border-radius:  3rem;
    padding: 5px;
    background-color:#ffffff;
    border:solid;
    border-width: 0.5rem;
    border-color: #a79a2d;
    box-shadow: 50px 80px 90px rgba(190, 165, 24, 0.2);
}

main .blog-content  .blog-title{
    padding: 2rem 0;
}

main .blog-content  .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content  span{
    display: block;
}

section .container .owl-nav{
    position: relative;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/


/* ----------------- Footer --------------------- */


footer.footer{
    height: 100%;
    background:black;
    position: relative;
    clear: both;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */



/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */


/*        x      Viewport less then or equal to 520px       x     */

.post h4 {
     
    text-align: center;
    font-family:'Abel';
    text-transform: uppercase;
    color: #fa0303;
  }
  .post span {
    
      font-family:'Abel' ;
    color: #a79a2d;
  }
  .btn-cont {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }
  .about {
    background: var(--clr-white);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .tab-btn:nth-child(1) {
    border-top-left-radius: var(--radius);
  }
  .tab-btn:nth-child(3) {
    border-top-right-radius: var(--radius);
  }
  .tab-btn {
    padding: 1rem 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: var(--clr-grey-9);
    cursor: pointer;
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }
  .tab-btn:hover:not(.active) {
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
  }
  .con {
    display: none;
  }
  .tab-btn.active {
    background: var(--clr-white);
  }
  .con.active {
    display: block;
  }